<main class="flex flex-col justify-center items-center text-2xl">
    <form [formGroup]="credentials" class="w-full">
        <div class="mx-2 my-3">
            <ion-input
                label="Correo"
                placeholder="ejemplo@gmail.com"
                formControlName="email"
				class="border-b-2 border-t-2 border-violet-300 h-14 "
            ></ion-input>
            @if(email && email.touched && email.errors){
            <ion-note slot="error" color="danger" class="text-lg"
                >El correo no es válido</ion-note
            >
            }
        </div>
        <div class="mx-2 my-3">
            <ion-input
                label="Contraseña"
				class="border-b-2 border-t-2 border-violet-300 h-14 "
                placeholder="contraseña"
                type="password"
                formControlName="password"
            >
                <ion-input-password-toggle
                    slot="end"
                ></ion-input-password-toggle>
            </ion-input>
            @if(password && password.touched && password.errors){
            <ion-note slot="bottom" color="danger" class="text-lg"
                >Mínimo 6 caracteres</ion-note
            >
            }
        </div>

        <div class="flex flex-col mt-6 mx-[10%]">
            <ion-button
                [disabled]="!credentials.valid"
                expand="full"
                class="text-2xl"
                (click)="login()"
                >Iniciar Sesión</ion-button
            >
        </div>

        <ion-grid class="ion-margin-top mx-[10%]">
            <ion-row>
                <ion-col>
                    <ion-button
                        expand="full"
                        class="text-2xl"
                        (click)="fillInGuest('1')"
                        ><img
                            src="/assets/userIcon.svg"
                            class="w-10"
                            alt=""
                        />1</ion-button
                    >
                </ion-col>
                <ion-col>
                    <ion-button
                        expand="full"
                        class="text-2xl"
                        (click)="fillInGuest('2')"
                        ><img
                            src="/assets/userIcon.svg"
                            class="w-10"
                            alt=""
                        />2</ion-button
                    >
                </ion-col>
                <ion-col>
                    <ion-button
                        expand="full"
                        class="text-2xl"
                        (click)="fillInGuest('3')"
                        ><img
                            src="/assets/userIcon.svg"
                            class="w-10"
                            alt=""
                        />3</ion-button
                    >
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</main>
